# .gitignore

# Ignore Terraform binary files
*.tfstate
*.tfstate.*

# Ignore .terraform directories
.terraform/

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore .tfplan files
*.tfplan

# Ignore tfvars files
*.tfvars

# Ignore .terraform.lock.hcl files
.terraform.lock.hcl

# Ignore provider credentials files
terraform.rc
